 
  <!--================login Area =================-->
<section class="login_area p_100">
    <div class="container">
        <div class="login_inner">
            <div class="row">
                <div class="col-lg-8">
                    <div class="login_title">
                        <h2>create account</h2>
                        <p>Follow the steps below to create email account enjoy the great mail.com emailing experience. Vivamus tempus risus vel felis condimentum, non vehicula est iaculis.</p>
                    </div>
                    <form class="login_form row" [formGroup]="registerForm">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" formControlName="firstname" name="firstname" placeholder="firstname">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" formControlName="lastname" name="lastname" placeholder="lastname">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" formControlName="username" name="username" placeholder="User Name">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" placeholder="Phone">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="password" formControlName="password" name="password" placeholder="Password">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="password" placeholder="Re-Password">
                        </div>
                        <div class="col-lg-6 form-group">
                            <button type="submit" value="submit" class="btn subs_btn form-control" (click)="onSubmit()" >register now</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="login_title">
                        <h2>Login account</h2>
                        <p><li class="user_icon"><a routerLink='/newloginn' routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i></a></li></p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End login Area =================-->
  