<app-categories-banner-area></app-categories-banner-area>

<section class="categories_product_main p_80">
  <div class="container">
      <div class="categories_main_inner">
          <div class="row">
              <div class="col-lg-9">
                  <div class="showing_fillter">
                      <div class="row m0">
                          <div class="first_fillter">
                              <h4>Showing 1 to 12 of 30 total</h4>
                          </div>
                          <div class="secand_fillter">
                              <h4>SORT BY :</h4>
                              <select class="selectpicker">
                                  <option>Name</option>
                                  <option>Name 2</option>
                                  <option>Name 3</option>
                              </select>
                          </div>
                          <div class="third_fillter">
                              <h4>Show : </h4>
                              <select class="selectpicker">
                                  <option>09</option>
                                  <option>10</option>
                                  <option>10</option>
                              </select>
                          </div>
                          <div class="four_fillter">
                              <h4>View</h4>
                              <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                              <a href="#"><i class="icon_grid-3x3"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="categories_product_area">
                      <div class="row">
                          <div class="col-lg-4 col-sm-6" *ngFor="let produit of produits">
                              <div class="l_product_item">
                                  <div class="l_p_img">
                                      <img src="{{ 'http://ecomapi.tdigitale.com/img/products_images/' + produit.image1 }}" alt="{{produit.nom_produit}}">
                                      <h5 class="new">New</h5>
                                  </div>
                                  <div class="l_p_text">
                                     <ul>
                                          <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                          <li><a class="add_cart_btn" href="#" (click)="addTocart(produit)" (click)="$event.preventDefault()">Add To Cart</a></li>
                                          <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                      </ul>
                                      <h4>{{produit.nom_produit}}</h4>
                                      <h5><del>${{produit.prix * 2}}</del> ${{produit.prix}}</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <nav aria-label="Page navigation example" class="pagination_area">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="categories_sidebar">
                      <aside class="l_widgest l_p_categories_widget">
                          <div class="l_w_title">
                              <h3>Categories</h3>
                          </div>
                          <ul class="navbar-nav">
                            <li ngbDropdown class="nav-item dropdown" *ngFor="let category of categories"><!-- [routerLink]="['category/',category.id]" -->
                                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{category.categorie}}
                                <i class="icon_plus" aria-hidden="true"></i>
                                <i class="icon_minus-06" aria-hidden="true"></i>
                                </a>
                                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li ngbDropdownItem class="nav-item" *ngFor="let sous_category of category.sous_categories"><a class="nav-link" [routerLink]="['category/',sous_category.id]">{{sous_category.sous_categorie}}</a></li>
                                </ul>
                            </li>
                          </ul>
                      </aside>
                
                      <aside class="l_widgest l_fillter_widget">
                          <div class="l_w_title">
                              <h3>Filter section</h3>
                          </div>
                          <div id="slider-range" class="ui_slider"></div>
                          <label for="amount">Price:</label>
                          <input type="text" id="amount" readonly>
                      </aside>
                      <aside class="l_widgest l_color_widget">
                          <div class="l_w_title">
                              <h3>Color</h3>
                          </div>
                          <ul>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                          </ul>
                      </aside>
                      <aside class="l_widgest l_menufacture_widget">
                          <div class="l_w_title">
                              <h3>Manufacturer</h3>
                          </div>
                          <ul>
                              <li><a href="#">Nigel Cabourn.</a></li>
                              <li><a href="#">Cacharel.</a></li>
                              <li><a href="#">Calibre (Menswear)</a></li>
                              <li><a href="#">Calvin Klein.</a></li>
                              <li><a href="#">Camilla and Marc</a></li>
                          </ul>
                      </aside>
                      <aside class="l_widgest l_feature_widget">
                          <div class="l_w_title">
                              <h3>Featured Products</h3>
                          </div>
                          <div class="media">
                              <div class="d-flex">
                                  <img src="/assets/img/product/featured-product/f-p-5.jpg" alt="">
                              </div>
                              <div class="media-body">
                                  <h4>Jeans with <br /> Frayed Hems</h4>
                                  <h5>$45.05</h5>
                              </div>
                          </div>
                          <div class="media">
                              <div class="d-flex">
                                  <img src="/assets/img/product/featured-product/f-p-6.jpg" alt="">
                              </div>
                              <div class="media-body">
                                  <h4>Crysp Denim<br />Montana</h4>
                                  <h5>$45.05</h5>
                              </div>
                          </div>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
    <!--
  <div class="container">
      <div class="row">
        <div ngbDropdown class="btn-group" *ngFor="let category of categories">
            <button id="dropdownBasic1" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{category.categorie}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
              <button ngbDropdownItem class="dropdown-item" type="button" *ngFor="let sous_category of category.sous_categories">{{sous_category.sous_categorie}}</button>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="card-group">
            <div class="card" *ngFor="let category of categories">
              <div class="card-body">
                <h5 class="card-title">*{{category.categorie}}</h5>
                <p class="card-text" *ngFor="let sous_category of category.sous_categories"><small class="text-muted">{{sous_category.sous_categorie}}</small></p>
              </div>
            </div>
            
        </div>
      </div>
      
      
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block"*ngFor="let category of categories">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{category.categorie}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let sous_category of category.sous_categories">{{sous_category.sous_categorie}}</button>
            </div>
          </div>
        </div>
      </div>
  </div>
-->